/* Generic */
picture, embed, object, video {
    max-width: 100%;
    }

.inline-block
{
    display: inline-block;
}


/* Header */
.header-container
{
    height: 65px;
    background-color: rgb(13, 13, 70);
    display: flex;
    align-items: center
}

.header-container h1
{
    color: white;
    font-size: 25px;
    margin-left: 2px;
    width: 70%;
}

.header-container form
{
    margin-right: 5px;
    width: 30%;
}

.header-container form button
{
    float: right;
}

/* Sub Header */
.sub-header
{
    height: 35px;
    background-color: rgba(94, 12, 94, 0.952);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-header h2
{
    margin: 0;
    font-size: 25px;
}

/* Creator info */
.creator-header
{
    display: flex;
    align-items: center;
    margin: 0 0 2px 0;
    width: 100%;
    height: 20px;
    background-color: lightblue;
}

.creator-header h3
{
    margin: 0 0 0 2px;
    font-size: 15px;
}

.creator-info
{
    position: relative;
}

.creator-info img
{
    height: 25%;
    width: 25%;
    margin-bottom: 2px;
}

.creator-name
{
    background-color: lightgreen;
    height: 20px;
}

.creator-info figcaption
{
    font-size: 15px;
    margin-left: 2px;
}


/* Item details */
.item-name-header
{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    width: 100%;
    height: 30px;
    background-color: yellow;
}

.item-name-header h3
{
    margin: 0 0 0 2px;
}

.item-details h4
{
    margin-left: 2px;
}

.item-details p
{
    margin-left: 2px;
}



/* Sign in page */
.signin-cancel-buttons-viewport
{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signin-cancel-buttons-container
{
    margin: 0px;
}

.signin-cancel-buttons-container form button
{
    width: 100%;
}


/* Buttons */
.green-button
{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 6px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-right: 6px;
}

.red-button
{
    background-color: #f44336;
    border: none;
    color: white;
    padding: 6px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-right: 6px;
}

.blue-button
{
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 6px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-right: 6px;
}


/* Add New Category */
.new-category-header h2
{
    margin: 0;
    color: white;
}

.new-category-form
{
    margin-top: 40px;
}

.new-category-form form
{
    width: 100%;
}

.new-category-form form h3
{
    margin-left: 10px;
}

.new-category-form-input
{
    display: flex;
    align-items: center;
}

.new-category-form-input input
{
    margin: 0 10px 0 10px;
}

.new-category-form form button
{
    margin: 10px 0 0 10px;
}


/* Form control */
.form-control
{
    width: 50%;
}


/* Tile */
.tiles {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    margin: 0;
  }

.tiles article {
    -moz-transition: -moz-transform 0.5s ease, opacity 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease, opacity 0.5s ease;
    transition: transform 0.5s ease, opacity 0.5s ease;
    position: relative;
    cursor: pointer;
    width: 100%;
    margin: 1.25em 1.25em 0 1.25em;
}

.tiles article > .image {
    -moz-transition: -moz-transform 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease;
    transition: transform 0.5s ease;
    position: relative;
    display: block;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
}

.tiles article > .image img {
    display: block;
    width: 100%;
}

.tiles article > .image:before {
    -moz-pointer-events: none;
    -webkit-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
    -moz-transition: background-color 0.5s ease, opacity 0.5s ease;
    -webkit-transition: background-color 0.5s ease, opacity 0.5s ease;
    -ms-transition: background-color 0.5s ease, opacity 0.5s ease;
    transition: background-color 0.5s ease, opacity 0.5s ease;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1.0;
    z-index: 1;
    opacity: 0.8;
}

.tiles article > .image:after {
    -moz-pointer-events: none;
    -webkit-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
    -moz-transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 0.25px%3B stroke: %23ffffff%3B %7D%3C/style%3E%3Cline x1='0' y1='0' x2='100' y2='100' /%3E%3Cline x1='100' y1='0' x2='0' y2='100' /%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.25;
    z-index: 2;
}

.tiles article > a {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -moz-transition: background-color 0.5s ease, -moz-transform 0.5s ease;
    -webkit-transition: background-color 0.5s ease, -webkit-transform 0.5s ease;
    -ms-transition: background-color 0.5s ease, -ms-transform 0.5s ease;
    transition: background-color 0.5s ease, transform 0.5s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1em;
    border-radius: 4px;
    border-bottom: 0;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    z-index: 3;
}

.tiles article > a > :last-child {
    margin: 0;
}

.tiles article > a:hover {
    color: #ffffff !important;
}

.tiles article > a h2 {
    margin: 0;
    font-size: 25px;
}

.tiles article.style1 > .image:before {
    background-color: #f2849e;
}

.tiles article.style2 > .image:before {
    background-color: #7ecaf6;
}


body:not(.is-touch) .tiles article:hover > .image {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

body:not(.is-touch) .tiles article:hover > .image:before {
    background-color: #333333;
    opacity: 0.35;
}

body:not(.is-touch) .tiles article:hover > .image:after {
    opacity: 0;
}

body.is-loading .tiles article {
    -moz-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
}