{% extends "main.html" %}
{% block content %}

<header>
	<div class="header-container">
		<h1 class="inline-block">Catalog App</h1>
		<form class="inline-block" action="{{url_for('gdisconnect')}}">
			<button class="red-button" type="submit">Logout</button>
		</form>
	</div>
	<div class="sub-header">
		<h2>Delete {{category.name}}</h2>
	</div>
</header>


<div class="delete-category-form">
	<form action="#" method = "post">
		<h3>Are you sure ypu want to delete {{category.name}} ?</h3>
		<br>
		<div class="delete-category-form-delete-button">
			<button class="red-button" type="submit">Delete</button>
		</div>
	</form>
</div>
<div class="delete-category-form-cancel-button">
	<form action="{{url_for('showCategories')}}">
		<button class="green-button" type="submit">Cancel</button>
	</form>
</div>

{% endblock %}
