<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Item Catalog Application</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" media="screen and (max-width:360px)" href="{{ url_for('static', filename='ItemCatalogAppSmallestScreen.css') }}">
		<link rel="stylesheet" media="screen and (min-width:361px) and (max-width:768px)" href="{{ url_for('static', filename='ItemCatalogSmallerScreen.css') }}">
		<link rel="stylesheet" media="screen and (min-width:769px)" href="{{ url_for('static', filename='ItemCatalog.css') }}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script src="//apis.google.com/js/platform.js?onload=start"></script>
		<!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->
	</head>
	<body>
			{% block content %}
			{% endblock %}
	</body>
</html>
