{% extends "main.html" %}
{% block content %}

<header>
	<div class="header-container">
		<h1 class="inline-block">Catalog App</h1>
		<form class="inline-block" action="{{url_for('gdisconnect')}}">
			<button class="red-button" type="submit">Logout</button>
		</form>
	</div>
	<div class="sub-header">
		<h2>New Category</h2>
	</div>
</header>

<div class="new-category-form">
	<form action="#" method = "post">
		<h3>Name:</h3>
		<div class="new-category-form-input">
			<input type ="text" class="form-control" maxlength="80" name="name" placeholder="Name of Category (Mandatory)">
		</div>
		<br>
		<button class="green-button" type="submit">Create</button>
	</form>
</div>

{% endblock %}
