{% extends "main.html" %}
{% block content %}

<header>
	<div class="header-container">
		<h1 class="inline-block">Catalog App</h1>
		<form class="inline-block" action="{{url_for('gdisconnect')}}">
			<button class="red-button" type="submit">Logout</button>
		</form>
	</div>
	<div class="new-category-header">
		<h2>New Category</h2>
	</div>
</header>


<div class="new-category-form">
	<form action="#" method = "post">
		<h3>Name:</h3>
		<div class="new-category-form-input">
			<input type ="text" class="form-control" maxlength="80" name="name">
		</div>
		<button class="green-button" type="submit">Create</button>
	</form>
</div>


<!-- <div class="row">
	<div class="col-md-6 col-md-offset-1 padding-top">
		<form action="#" method = "post">
			<div class="form-group">
			<label for="name">Name:</label>
			<input type ="text" class="form-control" maxlength="250" name="name">
			<div class="padding-bottom"></div>
			<button type="submit" class="btn btn-default" id="submit" type="submit">
			<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Create</button>
			</div>
		</form>
	</div>
</div> -->


{% endblock %}
